[Unit]
Description= Vpn Backend

[Service]
User=root
WorkingDirectory=/root/
VIRTUAL_ENV=/root/vpb/venv
Environment=PATH=$VIRTUAL_ENV/bin:$PATH
ExecStart=/root/vpb/venv/bin/python vpb/test_server.py
Restart=always
RestartSec=5
RuntimeMaxSec=5d
[Install]
WantedBy=multi-user.target
